.TwoBtnModal {
  max-width: 327px;
  background-color: #fff;
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  border: 2px solid var(--grey-800);
}

.modal-msg {
  font-size: 16px;
  font-weight: 500;
  color: var(--grey-800);
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.check {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 100%;
}
