.BestRecWork {
  max-width: 890px;
}

.next-button {
  position: absolute;
  left: 776px;
  top: 5px;
  z-index: 10;
  background-color: var(--brand-black);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-button {
  position: absolute;
  left: 726px;
  top: 5px;
  z-index: 10;
  background-color: var(--brand-black);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}