.BestRecWork {
  background-color: var(--grey-50);
  border-radius: 16px;
  border: 2px solid var(--grey-100);
  padding: 0 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 324px;
}

.bestRecWork-badge {
  position: absolute;
  left: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 132px;
  height: 34px;
  border-radius: 14px 0;
  background-color: var(--brand-black);
  color: white;
  font-size: 14px;
  font-weight: 500;
}
