.title {
  font-size: 20px;
  font-weight: 600;
  color: var(--grey-600);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-challenge-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 154px;
  height: 39px;
  border-radius: 19.5px;
  background-color: #262626;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  padding: 0 10px;
  cursor: pointer;
}

.SearchContainer {
  width: 996px;
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.challengeTableWrapper {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.AllCardSection {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 24px;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px !important;
  width: 100%;
}

.noChallenges {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  text-align: center;
  color: var(--grey-500);
  margin-top: 233px;
}

/* 태블릿 버전 */
@media (max-width: 1199px) {
  .SearchContainer {
    width: 697px;
  }
}

/* 모바일 버전 */
@media (max-width: 743px) {
  .AllCardSection {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 16px;
  }

  .SearchContainer {
    width: 343px;
  }

  .noChallenges {
    font-size: 14px;
    margin-top: 223px;
  }
}