.title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: var(--grey-600);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-challenge-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 154px;
  height: 39px;
  border-radius: 19.5px;
  background-color: var(--brand-black);
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  padding: 0 10px;
  cursor: pointer;
}

.tab-container{
  width: 100%;

}

.SearchContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.card-container {
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

/* 태블릿 버전 */
@media (min-width: 744px) and (max-width: 1199px) {
  .SearchContainer {
    max-width: 996px;
    margin-top: 16px;
  }
  
  .card-container {
    max-width: 996px;
  }

  .mainContainer {
    max-width: 996px;
  }
}

/* 모바일 버전 */
@media (max-width: 743px) {
  .SearchContainer {
    max-width: 696px;
    min-width: 343px;
  }
  
  .card-container {
    max-width: 696px;
    min-width: 343px;
  }

  .mainContainer {
    max-width: 696px;
    min-width: 343px;
  }
}
