.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 76vh;
  background: var(--white);
  color: var(--brand-yellow);
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.notFoundContent {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  align-items: center;
  position: relative;
  z-index: 2;
}

.book {
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.1;
  pointer-events: none;
  padding-right: 30px;
}

.notFoundTitle {
  font-size: 75px;
  font-weight: bold;
  margin: 25px 0;
  color: var(--brand-yellow);
}

.notFoundMessage {
  color: var(--brand-black);
  font-size: 24px;
  margin: 30px 0;
}

.notFoundSubmessage {
  font-size: 16px;
  color: var(--grey-600);
  margin-bottom: 5px;
}

.notFoundHomeButton {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--white);
  background-color: var(--brand-orange);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.notFoundHomeButton:hover {
  background-color: var(--blue-blue);
}

.button {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  gap: 0.5rem;
  border-radius: 0.375rem;
  padding: 0.75rem 1.5rem;
  color: var(--brand-black);
}

.button:hover {
  color: var(--brand-black);
}
