.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 8px;
}

.cancel {
  display: flex;
  gap: 5px;
  padding: 11px 12px;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 6px 10px;
}

.title {
  align-self: left;
}
