.MemberHeader,
.AdminHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: sticky;
  height: 60px;
  background-color: #ffffff;
  z-index: 999;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.AuthHeader {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 124.5px;
  padding-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.login-btn {
  padding: 8px 16px;
  background-color: var(--brand-yellow);
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;

  color: var(--brand-black);
}

.login-btn:hover {
  background-color: var(--brand-black);
  color: var(--brand-yellow);
}
@media only screen and (max-width: 1199px) {
  .MemberHeader,
  .AdminHeader {
    padding: 24px;
  }
}

@media only screen and (max-width: 529px) {
  .AdminHeader,
  .MemberHeader {
    display: none;
  }
}

@media only screen and (max-width: 743px) {
  .MemberHeader,
  .AdminHeader {
    padding: 16px;
  }
  .logo {
    width: 80px;
    height: 18px;
  }

  .AuthHeader .logo {
    width: 240px;
    height: 54px;
  }
}

.rightSection {
  display: flex;
  align-items: center; /* 알림 아이콘을 원래 위치로 되돌리기 위해 center로 변경 */
  gap: 16px; /* 알림 아이콘과 프로필/로그인 버튼 사이의 간격 */
}
