.main {
  max-width: 996px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 150px;
  margin: 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main.detail {
  max-width: 890px;
}

.main.text-edit {
  padding: 0;
  max-width: none;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .main {
    padding: 16px 24px 40px;
  }
}

@media only screen and (max-width: 529px) {
  .headerHidden {
    display: none;
  }
}

@media only screen and (max-width: 743px) and (min-width: 375px) {
  .main {
    padding: 16px;
  }

  .main.text-edit {
    flex-direction: column-reverse;
  }
}
