.main {
  max-width: 996px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 150px;
  margin: 0 auto;
}

@media only screen and (max-width: 1199px) {
  .main {
    max-width: 696px;
    width: 100%;
    padding: auto;
  }
}

@media only screen and (max-width: 743px) and (min-width: 375px) {
  .main {
    min-width: 343px;
    width: 100%;
    padding: 20px;
  }
}

