.logo {
  width: 120px;
  height: 27px;
}

.auth-page-logo {
  width: 320px;
  height: 72px;
}

@media only screen and (max-width: 743px) {
  .auth-page-logo {
    width: 240px;
    height: 54px;
  }
}
