.Border {
  width: 100%;
  border: 1px solid var(--grey-200);
  border-left: none;
  border-right: none;
  border-top: none;
  margin: var(--gap, 24px) 0;
}

@media only screen and (max-width: 529px) {
  .Border {
    margin: var(--mobile-gap, var(--gap, 16px)) 0;
  }
}
