.Profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-size: 14px;
  font-weight: 500;
}

.workList-name {
  font-size: 14px;
  font-weight: 500;
  flex-grow: 1; 
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 15ch; 
}

.grade,
.time {
  font-size: 12px;
  color: var(--grey-500);
}

.ProfileImage {
  position: relative;
  aspect-ratio: 1/1;
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  overflow: hidden;
}

.ProfileImage .image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.simple {
  display: flex;
  align-items: center;
  gap: 8px;
}

.simple .name {
  font-size: 12px;
}

@media (max-width: 500px) {
  .workList-name {
    max-width: 10ch; 
  }
}

@media (max-width: 450px) {
  .workList-name {
    max-width: 6ch; 
  }
}