@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.viewerButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border: 2px solid var(--grey-100);
  box-shadow: 0px 4px 4px 0px #585c820d;
  position: fixed;
  right: 0;
  top: 165px;
}

.text {
  font-size: 16px;
  font-weight: 600;
  color: var(--grey-500);
}

.SidePanel {
  position: fixed;
  top: 60px;
  height: 100%;
  width: 640px;
  background-color: white;
  transform: translateX(100%);
  z-index: 99;
  right: 0;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.04);
}

.SidePanel.open {
  animation: slideIn 0.3s forwards;
}

.SidePanel.close {
  animation: slideOut 0.3s forwards;
}

.close-btn {
  position: absolute;
  top: 16px;
  left: 16px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 99;
}
