.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 24px 0;
}

.buttons {
  display: flex;
  gap: 8px;
}

.cancel {
  display: flex;
  gap: 6px;
  padding: 11px 12px;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 6px 10px;
}
