.WorkDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-top: 1px solid var(--grey-200);
  border-bottom: 1px solid var(--grey-200);
  width: 100%;
}
.user-info {
  display: flex;
  gap: 12px;
}
.container {
  width: 100%;
}
.content {
  padding-bottom: 64px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.time {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-500);
}

@media only screen and (max-width: 1199px) {
  .content {
    padding-bottom: 44px;
  }
}

@media only screen and (max-width: 743px) {
  .content {
    padding-bottom: 40px;
    font-size: 16px;
  }
}
